p
{
  font-family: 'Erica One', cursive;  
  font-family: 'Monofett', cursive;
  font-size: 30px;
  font-weight: 400;
  color: indigo;
}
h1
{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: coral;
}
